<!-- below code is used for table -->

<table class="table table-hovered table-striped table-bordered headed-table">
  <tr>
    <td class="center-aligned bold">Serial No.</td>
    <td class="center-aligned bold">Email Address</td>
    <td class="center-aligned bold">Action</td>
  </tr>
  <ng-container *ngIf="userEmailList.length>0" >
    <tr *ngFor="let item of userEmailList" >
      <td class="center-aligned">{{item.idtableEmail}}</td>
      <td class="center-aligned">{{item.tableEmailEmailAddress}}</td>
      <td class="center-aligned">
        <div class="edit-delete">
          <div><i class="fa fa-pencil" aria-hidden="true" (click)="showModal('edit',item.idtableEmail)"></i></div>
          <div><i class="fa fa-trash" aria-hidden="true" (click)="showDeleteEmailModal(item.idtableEmail)"></i></div>
        </div>
      </td>
    </tr>
  </ng-container>
</table>

<div class="row addButton desktop-column-20">
  <div>
    <button type="button" class="btn btn-info" (click)="showModal('save')">Add</button>
  </div>
</div>

<!-- below code is used for edit and update email -->

<div class="overlay" id="ballardOverlay"></div>
<div class="modal-box-lg ballard-popup" id="emailUserPopup">
  <button class="modal-popup-close-btn" (click)="closeModal()">
    <span>X</span>
  </button>

  <div class="inicu-tab-container">
    <div class="tab-header">
     
    </div>
    <div class="tab-content-cont full">
      <div class="col-md-6 emailInput">
        <input type="text" id="email"  [email]="userEmail !=''" placeholder="Please Enter Your Email" name="email" required
          [(ngModel)]="userEmail" #email="ngModel"  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" 
          class="desktop-column-20 form-control"/>
        <span class="help-block" *ngIf="email.errors?.required && email.touched" style="color:#b94a48">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.email && email.touched" style="color:#b94a48">
          Email is Invalid
        </span>
       
      </div>
      <div class="row addButton">
        <div>
          <button type="button" class="btn btn-info" (click)="saveEmail()" [disabled]="email.errors?.email && email.touched || email.errors?.required && email.touched">
            {{buttonLabel}}</button>
          <div>
            <span *ngIf="message" [ngClass]="{'alert-danger': message}"> {{message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- below code is used for delete Email -->

<div class="overlay" id="deleteOverlay"></div>
<div class="modal-box-lg delete-popup" id="deleteEmailUserPopup">
  <button class="modal-popup-close-btn" (click)="closeDeleteEmailModal()">
    <span>X</span>
  </button>

  <div class="inicu-tab-container">
    <div class="tab-header">
        <span>Do you want to delete this email address?</span>
    </div>
    <div class="tab-content-cont full">
      <div class="deleteBlock">
        <div><button type="button" class="btn btn-info" (click)="deleteEmail()">Yes</button></div>
        <div><button type="button" class="btn btn-info" (click)="closeDeleteEmailModal()">No</button></div>
      </div>
    </div>
  </div>
</div>

